[trim-fastq]
project_name = meta-buckeye-101815
bucket_name = clb-bucket-1
src_directory = raw_fastq
dest_directory = fasta 
zone_names = us-central1-a,us-central1-b,us-central1-c
disk_image = projects/meta-buckeye-101815/global/images/ubuntu-custom
boot_disk_size_gb = 50
base_machine_type = n1-standard-1
num_allowed_instances_per_zone = 2
num_tasks_per_instance = 2
time_limit = 3600 # In seconds
task_description = trim-fastq # Must conform to Google's naming restrictions: Must be a match of regex '(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?)'
